<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939410840173-2lmmu04ma22d732fjcd33dj26e6cq8mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939410840173-2lmmu04ma22d732fjcd33dj26e6cq8mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDsy9fLaZNbZKYl_sz9ilv3DCoXEJVmBmM</string>
	<key>GCM_SENDER_ID</key>
	<string>939410840173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bg.BgPlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>bgplatzitweets</string>
	<key>STORAGE_BUCKET</key>
	<string>bgplatzitweets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939410840173:ios:0068a94542bc5a1f087d64</string>
	<key>DATABASE_URL</key>
	<string>https://bgplatzitweets.firebaseio.com</string>
</dict>
</plist>